<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player List</title>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 20px;
        }

        td, th {
            vertical-align: middle;
        }
    </style>
  </head>
  <body>
    <h1>Player List</h1>
    <% if (players.length === 0) { %>
    <p>No players available.</p>
    <% } else { %>
    <input id="search-box" type="text" placeholder="Search by name">
    <select id="is_active">
      <option value="*">All Players</option>
      <option value="true">Active Players</option>
      <option value="false">Inactive Players</option>
    </select>
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Handed</th>
          <th scope="col">Balance (USD)</th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="player-list">
        <% players.forEach((player, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= player.pid %></td>
          <td><%= player.name %></td>
          <td><%= player.handed %></td>
          <td><%= player.balance_usd_cents %></td>
          <td><%= player.is_active ? 'Yes' : 'No' %></td>
          <td><a href="/player/<%= player.pid %>/edit.html">Edit</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>

    <script>
        document.getElementById('search-box').addEventListener('keyup', (event) => {
            const searchQuery = event.target.value +';fname,lname'
            return fetch(`/api/player?q=${encodeURIComponent(searchQuery)}`, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(replacePlayerList)
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        });

        document.getElementById('is_active').addEventListener('change', (event) => {
            const selectedValue = event.target.value;
            let apiUrl = '/api/player';
            apiUrl += `?is_active=${selectedValue}`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(replacePlayerList)
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });

        function replacePlayerList(players) {
            const playerList = document.querySelector('.player-list');
            playerList.innerHTML = ''; // Clear the existing content

            players.forEach((player, index) => {
                const playerRow = document.createElement('tr');
                playerRow.innerHTML = `
                    <td>${index + 1}</td>
                    <td>${player.pid}</td>
                    <td>${player.name}</td>
                    <td>${player.handed}</td>
                    <td>${player.balance_usd_cents}</td>
                    <td>${player.is_active ? 'Yes' : 'No'}</td>
                    <td><a href="/player/${player.pid}/edit.html">Edit</a></td>
                `;
                playerList.appendChild(playerRow);
            });
        }
    </script>
    <a href="/player/create.html">Create New Player</a>
  </body>
</html>