

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Property Applications</title>
  <!-- Add any necessary styles or scripts here -->
  <style>
    .whole-page-background-image{
       height: 80vh;
       width: 100vw;
       background-image: url('/images/USC_Village.jpg');
       /* background-color: rgba(255,255,255,0.5); */
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
   }
   .whole-page-background-color{
       height: 80vh;
       width: 100vw;
       /* background-image: url('/images/USC_great_lawn.jpg'); */
       background-color: rgba(255,255,255,0.6);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
   }
</style>
</head>
<body>
    <div class="whole-page-background-color">
        <!-- <h1 class="admin-page-title">A Landlord User List</h1> -->
  <h1 class="admin-page-title">Applications for Property ID: <%= propertyId %></h1>
  
  <% if (applications.length > 0) { %>
    <ul>
      <% applications.forEach(application => { %>
        <li>
          <p>Application ID: <%= application._id %></p>
          <p>Created At: <%= application.created_at %></p>
          <p>Student ID: <%= application.studentId %></p>
          <p>Accepted: <%= application.accepted ? 'Yes' : 'No' %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No applications found for this property ID.</p>
  <% } %>
</div>
</div>
  <!-- Add any additional content or scripts here -->
</body>
</html>
