<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user List</title>
    <style>
         .whole-page-background-image{
            height: 80vh;
            width: 100vw;
            background-image: url('/images/USC_Village.jpg');
            /* background-color: rgba(255,255,255,0.5); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .whole-page-background-color{
            height: 80vh;
            width: 100vw;
            /* background-image: url('/images/USC_great_lawn.jpg'); */
            background-color: rgba(255,255,255,0.6);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .admin-list {
            width: 1200px; 
            height: 800px; 
            margin: auto; 
            margin-top: 0px; 
            border: 2px solid #ffffff; 
            border-radius: 10px; 
            background-color: rgba(250, 246, 229, 0.8); 
            padding: 5px; 
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: top;
        }
         #search-box {
            padding: 5px;
            font-size: 16px;
        }

        #search-button {
            padding: 5px;
            font-size: 16px;
        }
        .styled-table {
            border-collapse: collapse;
            width: 100%;
        }

        .styled-table th,
        .styled-table td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .styled-table th {
            background-color: #f2f2f2;
        }
        .admin-page-title{           
            /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #333; /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
          

        }
        .error-message{           
            /* margin-top: 20px; */
            font-size: 15px; /* Increase the font size */
            color: rgb(255,0,0); /* Set a specific text color */
            text-align: center; /* Center the text */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
           

        }
        .admin-list {
            width: 1200px; /* Adjust the width as needed */
            height: 800px; /* Fixed height to prevent stretching */
            overflow-y: auto; /* Add a scrollbar if the content overflows vertically */
            margin: auto; /* Center the element horizontally */
            margin-top: 0px; /* Adjust the margin-top to center vertically */
            border: 2px solid #ffffff; /* Border color (black in this case) */
            border-radius: 10px; /* Border radius to create a circle */
            background-color: rgba(250, 246, 229, 0.8); /* Light beige background color */
            padding: 5px; /* Adjust the padding as needed */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            display: flex;
            flex-direction: column; /* Stack child elements vertically */
            justify-content: flex-start; /* Align child elements to the start of the container */
            align-items: center; /* Center child elements horizontally */
        }
        .admin-button{
            width: 200px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
        }


       
    </style>
    <!-- <link rel="stylesheet" href="/styles.css"> Add any additional styles if needed -->
</head>

<body>
    <div class="whole-page-background-color">
   <h1 class="admin-page-title">Current Student User List</h1>
   <a href="/admin/managerboard.html"><button class="admin-button" id="manager-board-button">Back to Manager Board</button></a>
        <div id="error-message" class="error-message"></div>
     <!-- <div> 
      <label for="search-box">Search: </label>
        <input type="text" id="search-box" name="query" placeholder="Search by keyword in first and last name...">
    </div>  -->
    <div class="admin-list">
    <% if (users && users.length > 0) { %>
        <table id="user-list" class="styled-table">
            <thread>
                <th style="padding-right: 15px">#</th>
                <th style="padding-right: 15px">ID</th>
                <th style="padding-right: 15px">User Name</th>
                <th style="padding-right: 15px">First Name</th>
                <th style="padding-right: 15px">Last Name</th>
                <th style="padding-right: 15px">Email</th>
                <!-- <th style="padding-right: 15px"></th> -->
                <th style="padding-right: 15px"></th>
            </thread>
            <% let rowCount = 1; %>
            <% users.forEach(user => { %>
                <tr name="user" style="height: 20px">
                    <td style="padding-right: 15px"><%=  rowCount %></td> 
                    <td style="padding-right: 15px"><%= user._id %></td>
                    <td style="padding-right: 15px"><%= user.username %></td>
                    <td style="padding-right: 15px"><%= user.fname %></td>
                    <td style="padding-right: 15px"><%= user.lname %></td>
                    <td style="padding-right: 15px"><%= user.email %></td>
                    
                    
                    <!-- <td style="padding-right: 10px"><a href="/user/<%= user.id %>/edit.html">Edit</a></td> -->
                    <td><button class="deleteButton" data-student-id="<%= user._id %>">Delete</button></td>
                </tr>
                <% rowCount++; %>
            <% }); %>
        </table>
    <% } else { %>
        <p>No student user available.</p>
    <% } %>
    <!-- create new user link button -->
    <button class="admin-button"><a href="/admin/students/create.html">Create New Student User</a></button>

    </div>
    </div>
    <script>
    
    //     document.getElementById('search-box').addEventListener('keyup', (event) => {
    //     const searchQuery = event.target.value;
    //     console.log('searchQuery is: ',searchQuery)
    //     return fetch(`/api/student`, {
    //       method: 'GET'
    //     })
    //     .then(r => r.json())
    //     .then(replaceUserList);  // defined below
    //   });

    //   function replaceUserList(users) {
    // // console.log('new user list is: ', users);
    //     if(!users){
    //         return;
    //     }
    // // Get the existing table body
    // const tableBody = document.querySelector('#user-table tbody');

    // // Clear the existing table body content
    // tableBody.innerHTML = '';

    // // Add new rows based on the updated user list
    // users.forEach((user, index) => {
    //     const newRow = tableBody.insertRow(index);
    //     newRow.setAttribute('name', 'user-list');

    //     const cells = [
    //         index + 1,
    //         user.id,
    //         user.userName,
    //         user.fname,
    //         user.lname,
    //         user.email,
           
    //         `<a href="/user/${user.id}/edit.html">Edit</a>`
    //     ];

    //     cells.forEach((cellContent, cellIndex) => {
    //         const newCell = newRow.insertCell(cellIndex);
    //         newCell.innerHTML = cellContent;
    //         newCell.style.paddingRight = '10px';
    //     });
    // });
    // }

/** perform delete user and refresh page after deletion success */
    const deleteButtons = document.querySelectorAll('.deleteButton');
    // Add event listener for each delete button of each student user
    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const studentId = button.getAttribute('data-student-id');
            console.log("test delete button");

            try {
                const response = await fetch(`/api/student/${studentId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    console.log(`Student with ID ${studentId} deleted successfully`);
                    document.getElementById('error-message').innerText = `Student User with ID ${studentId} deleted successfully`;
                    setTimeout(() => {
                        location.reload();
                    }, 80);
                } else {
                    console.error(`Failed to delete student with ID ${studentId}`);
                    document.getElementById('error-message').innerText = `Failed to delete student with ID ${studentId}`;
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
    

    </script>
</body>

</html>
